# 3. mājas darbs

Importēt datus no failiem ”chick.txt” un ”chick_2.csv”, saglabāt tos mainīgajos chick
un chick_2 Pandas DataFrame formātā un pārbaudīt mainīgo datu tipu un informāciju
par datu tabulas kolonnām (izmantojot funkcija, kas parāda kolonnu indeksu, kolonnu
nosaukumus, NULL vērtību skaitu un kolonnu datu tipu)

In [1]:
import os
import pandas as pd

In [2]:
# Import data from `chick.txt` and `chick_2.csv`
data_dir = os.path.join("data", "HW3")

chick = pd.read_csv(os.path.join(data_dir, "chick.txt"), sep="-")
chick_2 = pd.read_csv(os.path.join(data_dir, "chick_2.csv"))

In [3]:
print(chick.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   weight  578 non-null    int64
 1   Time    578 non-null    int64
 2   Chick   578 non-null    int64
 3   Diet    578 non-null    int64
dtypes: int64(4)
memory usage: 18.2 KB
None

In [4]:
print(chick_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  578 non-null    int64
 1   weight      578 non-null    int64
 2   Time        578 non-null    int64
 3   Chick       578 non-null    int64
 4   Diet        578 non-null    int64
dtypes: int64(5)
memory usage: 22.7 KB
None

Importēt datus no failiem ”financial_statements.csv”, ”income_statements.csv” un ”register.csv”, saglabāt tos mainīgajos financial_statements, income_statements un register;

In [5]:
# Import data from other files
financial_statements = pd.read_csv(os.path.join(data_dir, "financial_statements.csv"), sep=";", parse_dates=["year"])
income_statements = pd.read_csv(os.path.join(data_dir, "income_statements.csv"), sep=";")
register = pd.read_csv(os.path.join(data_dir, "register.csv"), sep=";", parse_dates=["registered", "terminated"])

C:\Users\TAABLED2\AppData\Local\Temp\ipykernel_17828\2734709595.py:4: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  register = pd.read_csv(os.path.join(data_dir, "register.csv"), sep=";", parse_dates=["registered", "terminated"])

In [6]:
financial_statements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556196 entries, 0 to 1556195
Data columns (total 12 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   id                                1556196 non-null  int64
 1   file_id                           1556196 non-null  int64
 2   legal_entity_registration_number  1556196 non-null  int64
 3   source_schema                     1556196 non-null  object
 4   source_type                       930829 non-null   object
 5   year                              1556196 non-null  datetime64[ns]
 6   year_started_on                   1556196 non-null  object
 7   year_ended_on                     1556196 non-null  object
 8   employees                         1556193 non-null  float64
 9   rounded_to_nearest                1556196 non-null  object
 10  currency                          1556196 non-null  object
 11  created_at                        1556196 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 142.5+ MB

In [7]:
income_statements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1391200 entries, 0 to 1391199
Data columns (total 28 columns):
 #   Column                                   Non-Null Count    Dtype
---  ------                                   --------------    -----
 0   statement_id                             1391200 non-null  int64
 1   file_id                                  1391200 non-null  int64
 2   net_turnover                             1391200 non-null  int64
 3   by_nature_inventory_change               147995 non-null   float64
 4   by_nature_long_term_investment_expenses  147995 non-null   float64
 5   by_nature_other_operating_revenues       147995 non-null   float64
 6   by_nature_material_expenses              147995 non-null   float64
 7   by_nature_labour_expenses                147995 non-null   float64
 8   by_nature_depreciation_expenses          147995 non-null   float64
 9   by_function_cost_of_goods_sold           1243205 non-null  float64
 10  by_function_gross_profit                 1243205 non-null  float64
 11  by_function_selling_expenses             1243205 non-null  float64
 12  by_function_administrative_expenses      1243205 non-null  float64
 13  by_function_other_operating_revenues     1243205 non-null  float64
 14  other_operating_expenses                 1391200 non-null  int64
 15  equity_investment_earnings               1391200 non-null  int64
 16  other_long_term_investment_earnings      1391200 non-null  int64
 17  other_interest_revenues                  1391200 non-null  int64
 18  investment_fair_value_adjustments        1391200 non-null  int64
 19  interest_expenses                        1391200 non-null  int64
 20  extra_revenues                           590552 non-null   float64
 21  extra_expenses                           590552 non-null   float64
 22  income_before_income_taxes               1391200 non-null  int64
 23  provision_for_income_taxes               1391200 non-null  int64
 24  income_after_income_taxes                800648 non-null   float64
 25  other_taxes                              590552 non-null   float64
 26  extra_dividends                          1028478 non-null  float64
 27  net_income                               1391200 non-null  int64
dtypes: float64(16), int64(12)
memory usage: 297.2 MB

In [8]:
register.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454021 entries, 0 to 454020
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   regcode              454021 non-null  int64
 1   sepa                 344377 non-null  object
 2   name                 454019 non-null  object
 3   name_before_quotes   413225 non-null  object
 4   name_in_quotes       439901 non-null  object
 5   name_after_quotes    18621 non-null   object
 6   without_quotes       449824 non-null  float64
 7   regtype              454021 non-null  object
 8   regtype_text         454021 non-null  object
 9   type                 454021 non-null  object
 10  type_text            452618 non-null  object
 11  registered           453927 non-null  datetime64[ns]
 12  terminated           241137 non-null  datetime64[ns]
 13  closed               454021 non-null  object
 14  address              453529 non-null  object
 15  index                433841 non-null  float64
 16  addressid            454021 non-null  int64
 17  region               454021 non-null  int64
 18  city                 454020 non-null  float64
 19  atvk                 411196 non-null  float64
 20  reregistration_term  22 non-null      object
dtypes: datetime64[ns](2), float64(4), int64(3), object(12)
memory usage: 72.7+ MB

Apvienot datus no income_statements un register tabulām vienā tabulā un saglabāt rezultātu
mainīgajā ar nosaukumu data;

In [9]:
# Augment income statements with registration code from financial statements 
income_statements_with_regcode = pd.merge(income_statements, 
    financial_statements[["file_id", "legal_entity_registration_number", "year"]], 
    on="file_id", how="left").rename(columns={"legal_entity_registration_number": "regcode"})

In [10]:
# Merge income_statements and register
data = pd.merge(income_statements_with_regcode, register, on="regcode", how="left") 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1391200 entries, 0 to 1391199
Data columns (total 50 columns):
 #   Column                                   Non-Null Count    Dtype
---  ------                                   --------------    -----
 0   statement_id                             1391200 non-null  int64
 1   file_id                                  1391200 non-null  int64
 2   net_turnover                             1391200 non-null  int64
 3   by_nature_inventory_change               147995 non-null   float64
 4   by_nature_long_term_investment_expenses  147995 non-null   float64
 5   by_nature_other_operating_revenues       147995 non-null   float64
 6   by_nature_material_expenses              147995 non-null   float64
 7   by_nature_labour_expenses                147995 non-null   float64
 8   by_nature_depreciation_expenses          147995 non-null   float64
 9   by_function_cost_of_goods_sold           1243205 non-null  float64
 10  by_function_gross_profit                 1243205 non-null  float64
 11  by_function_selling_expenses             1243205 non-null  float64
 12  by_function_administrative_expenses      1243205 non-null  float64
 13  by_function_other_operating_revenues     1243205 non-null  float64
 14  other_operating_expenses                 1391200 non-null  int64
 15  equity_investment_earnings               1391200 non-null  int64
 16  other_long_term_investment_earnings      1391200 non-null  int64
 17  other_interest_revenues                  1391200 non-null  int64
 18  investment_fair_value_adjustments        1391200 non-null  int64
 19  interest_expenses                        1391200 non-null  int64
 20  extra_revenues                           590552 non-null   float64
 21  extra_expenses                           590552 non-null   float64
 22  income_before_income_taxes               1391200 non-null  int64
 23  provision_for_income_taxes               1391200 non-null  int64
 24  income_after_income_taxes                800648 non-null   float64
 25  other_taxes                              590552 non-null   float64
 26  extra_dividends                          1028478 non-null  float64
 27  net_income                               1391200 non-null  int64
 28  regcode                                  1391200 non-null  int64
 29  year                                     1391200 non-null  datetime64[ns]
 30  sepa                                     1382570 non-null  object
 31  name                                     1391200 non-null  object
 32  name_before_quotes                       1331055 non-null  object
 33  name_in_quotes                           1390080 non-null  object
 34  name_after_quotes                        63242 non-null    object
 35  without_quotes                           1391200 non-null  float64
 36  regtype                                  1391200 non-null  object
 37  regtype_text                             1391200 non-null  object
 38  type                                     1391200 non-null  object
 39  type_text                                1391200 non-null  object
 40  registered                               1391200 non-null  datetime64[ns]
 41  terminated                               342827 non-null   datetime64[ns]
 42  closed                                   1391200 non-null  object
 43  address                                  1391200 non-null  object
 44  index                                    1389632 non-null  float64
 45  addressid                                1391200 non-null  int64
 46  region                                   1391200 non-null  int64
 47  city                                     1391200 non-null  float64
 48  atvk                                     1266732 non-null  float64
 49  reregistration_term                      0 non-null        object
dtypes: datetime64[ns](3), float64(20), int64(15), object(12)
memory usage: 530.7+ MB

Izveidot tabulu ar nosaukumu data_rimi, kas satur ierakstus no tabulas data par visiem
uzņēmumu, kuru nosaukums (name) satur burtu salikumu ”rimi” (burtu lielumam nav
nozīme). Un jaunizveidotajā tabulā atstāt kolonnas ar nosaukumiem - name, year, registered, terminated, net_income, net_turnover un total_assets;

**Remark:** There is no column named total_assets, therefore the requirement to include it is ignored. After all, these are income statements, not balance sheets :-)

In [11]:
# Filter rows and select columns for "rimi"
data_rimi = data[data["name"].str.lower().str.contains("rimi")]
data_rimi = data_rimi[["name", "year", "registered", "terminated", "net_income", "net_turnover"]]

data_rimi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, 15497 to 1362942
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          103 non-null    object
 1   year          103 non-null    datetime64[ns]
 2   registered    103 non-null    datetime64[ns]
 3   terminated    38 non-null     datetime64[ns]
 4   net_income    103 non-null    int64
 5   net_turnover  103 non-null    int64
dtypes: datetime64[ns](3), int64(2), object(1)
memory usage: 5.6+ KB

Aprēķināt cik šādu uzņēmumu kopā ir un pa cik gadiem šīm kopmānijām ir pieejami
finanšu atskaišu dati;

In [12]:
# Calculate number of companies and number of years
num_companies = data_rimi["name"].nunique()
num_years = data_rimi["year"].nunique()
print(f"Number of companies: {num_companies}")
print(f"Number of years: {num_years}")

Number of companies: 19
Number of years: 13

Aprēķināt katra uzņēmuma vidējo (balstoties uz visiem pieejamajiem gadiem), apgrozījumu
(net_turnover), net_income (ieņēmumus) un total_assets (aktīvus) un rezultātus saglablāt
tabulā ar nosaukumu data_rimi_sum;

**Remark:** Again, there is no data for total assets.

In [13]:
# Calculate average values
data_rimi_sum = data_rimi.groupby("name").agg({
    "net_turnover": "mean",
    "net_income": "mean"
}).reset_index()

Sakārtot data_rimi_sum tabulu pēc uzņēmuma vidējiem ieņēmumiem (dilstošā secībā);

In [14]:
# Sort the data by net income
data_rimi_sum = data_rimi_sum.sort_values(by="net_income", ascending=False)
data_rimi_sum.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 4 to 14
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          19 non-null     object
 1   net_turnover  19 non-null     float64
 2   net_income    19 non-null     float64
dtypes: float64(2), object(1)
memory usage: 608.0+ bytes

Saglabāt tabulu data_rimi_sum failā ar nosaukumu ”data_rimi_sum.csv”, kur faila formāts ir csv un kolonnu atdalītās ir ’_’

In [15]:
# Save the DataFrame to a file
data_rimi_sum.to_csv(os.path.join(data_dir, "data_rimi_sum.csv"), sep="_", index=False)